/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'KinderLandDEMO-Regular-BF69a828ec798a9';
  src: url('../../assets/fonts/KinderLandDEMO-Regular-BF69a828ec798a9.ttf') format('truetype');
}

@font-face {
  font-family: 'RocketBrush-DYwyW';
  src: url('../../assets/fonts/RocketBrush-DYwyW.otf');
}

@font-face {
  font-family: 'Vakonie-BF69b779c66f820';
  src: url('../../assets/fonts/Vakonie-BF69b779c66f820.otf');
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../img/HspMrCLfTuu2huH3hgI5VA.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  overflow-y: auto;
  overflow-x: auto;
}